---
import Card from "../../UIKit/Card.astro";
type Props = {
  perPage: string;
};

const { perPage } = Astro.props;

type Qiita = {
  url: string;
  title: string;
  created_at: string;
};
const myQiitaApiUrl = `https://qiita.com/api/v2/items?page=1&per_page=${perPage}&query=user:watataku8911`;

const res = await fetch(myQiitaApiUrl);
const getFetchData: Qiita[] = await res.json();
---

<div class="qiita">
  {
    getFetchData ? (
      getFetchData.map((qiita: Qiita) => (
        <Card
          target={"_blank"}
          image="/img/qiita-ogp.png"
          width={1200}
          height={630}
          href={qiita.url}
          title={qiita.title}
          time={qiita.created_at}
        />
      ))
    ) : (
      <h3>qiitaを取得できませんでした。</h3>
    )
  }
</div>

<script></script>

<style>
  .qiita {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  @media screen and (max-width: 1026px) {
    .qiita {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
