---
import Card from "../../UIKit/Card.astro";

type WatatakuBlog = {
  contents: Contents[];
};

type Contents = {
  id: string;
  createdAt: string;
  title: string;
  thumbnail: Thumbnail;
};

type Thumbnail = {
  url: string;
};

const myMicroCMSApiUrl = `https://${
  import.meta.env.MICROCMS_SERVICE_DOMAIN
}.microcms.io/api/v1/blog?orders=-publishedAt&limit=4`;

const res = await fetch(myMicroCMSApiUrl, {
  headers: {
    "X-MICROCMS-API-KEY": import.meta.env.MICROCMS_API_KEY,
  },
});
const getFetchData: WatatakuBlog = await res.json();
---

<div class="watataku-blog">
  {
    getFetchData.contents.map((item: Contents) => (
      <Card
        target={"_blank"}
        image={item.thumbnail.url}
        href={"https://watataku-blog.vercel.app/blog/" + item.id}
        title={item.title}
        time={item.createdAt}
      />
    ))
  }
</div>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const zenn = ".zenn";
  const WatatakuBlog = ".watataku-blog";

  gsap.set(WatatakuBlog, {
    opacity: 0,
    y: 90,
  });

  gsap.to(WatatakuBlog, {
    opacity: 1,
    y: 0,
    scrollTrigger: {
      trigger: zenn,
      start: "top center",
    },
    delay: 0.5,
  });
</script>

<style>
  .watataku-blog {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 2vw;
  }

  .watataku-blog::before {
    content: "";
    width: 20vw;
    order: 1;
  }

  .watataku-blog::after {
    content: "";
    width: 20vw;
  }

  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .watataku-blog {
      height: 220px;
    }
  }

  @media screen and (max-width: 481px) {
    .watataku-blog {
      height: 450px;
    }

    .watataku-blog::before {
      width: 45vw;
    }

    .watataku-blog::after {
      width: 45vw;
    }
  }
</style>
