---
import Card from "../../UIKit/Card.astro";

type Props = {
  count: string;
};

const { count } = Astro.props;

type Zenn = {
  items: Items[];
};

type Items = {
  link: string;
  title: string;
  pubDate: string;
};

const endpoint = "https://api.rss2json.com/v1/api.json";
const feed = "https://zenn.dev/watataku/feed";

const myZennApiUrl =
  endpoint +
  "?rss_url=" +
  feed +
  "&api_key=" +
  import.meta.env.RSS_TO_JSON_API_KEY +
  "&count=" +
  count;

const res = await fetch(myZennApiUrl);
const getFetchData: Zenn = await res.json();
---

<div class="zenn">
  {
    getFetchData ? (
      getFetchData.items.map((zenn: Items) => (
        <Card
          target={"_blank"}
          image={"/img/zenn.jpeg"}
          width={310}
          height={163}
          href={zenn.link}
          title={zenn.title}
          time={zenn.pubDate}
        />
      ))
    ) : (
      <h3>Zennを取得できませんでした。</h3>
    )
  }
</div>

<script></script>
<style>
  .zenn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  @media screen and (max-width: 1026px) {
    .zenn {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
