* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Sawarabi Gothic";
}

body {
  background-color: #4d4e4d;
}

body.loaded {
  background-color: var(--main-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
