* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Sawarabi Gothic";
  background-color: var(--main-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
