* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Sawarabi Gothic";
  overflow: scroll;
}

body {
  background-color: #192a56;
}

body.loaded {
  background-color: var(--main-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
