---
import { parseISO, format } from "date-fns";

// 日付整形関数
const datePlasticSurgery = (dateString: string): string => {
  const date = parseISO(dateString);
  return format(date, "yyyy年M月d日");
};

// 文字を丸める関数
const split = (text: string, maxLength: number): string => {
  let modStr = "・・・";

  if (text.length > maxLength) {
    modStr = text.substr(0, maxLength) + "...";
  } else {
    modStr = text;
  }
  return modStr;
};

type Props = {
  image: string;
  title: string;
  href: string;
  time: string;
};

const { image, href, title, time } = Astro.props;
---

<a href={href} target="_blank">
  <article class="card">
    <img src={image} alt={title} class="card__thunbnail" />
    <h4 class="card__title">
      {split(title, 30)}
    </h4>
    <time datetime="YYYY年MM月DD日" class="card__date">
      {datePlasticSurgery(time)}
    </time>
  </article>
</a>

<style>
  .card {
    position: relative;
    width: 20vw;
    height: 250px;
    background-color: #fffdf9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .card {
      height: 200px;
    }
  }
  @media screen and (max-width: 481px) {
    .card {
      width: 45vw;
      height: 200px;
    }
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .card__thunbnail {
    max-width: 100%;
    height: auto;
  }

  .card__title {
    margin: 0;
    padding: 0 0 0 5px;
    letter-spacing: 1px;
    font-size: 1rem;
    color: #000;
  }

  .card__date {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #333;
  }
</style>
