---
type Props = {
  href: string;
  msg: string;
};

const { href, msg } = Astro.props;
---

<a href={href} target="_blank" class="linker__title">
  {msg}
</a>

<style>
  .linker__title {
    display: block;
    letter-spacing: 2px;
    color: white;
    font-size: 1.5em;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(22, 214, 156);
    width: 130px;
    height: 40px;
    box-shadow: 0px 0px 27px -6px rgba(0, 0, 0, 0.6);
  }

  .linker__title:hover {
    transform: translateX(8px);
  }
</style>
