---
type Props = {
  href: string;
  target: "_blank" | "_self" | "_top" | "_parent";
  msg: string;
};

const { href, target, msg } = Astro.props;
---

<a class="linker__title" href={href} target={target}>
  {msg}
</a>

<style>
  .linker__title {
    color: var(--accent-color);
    background-color: var(--sub-color);
    padding: 5px;
    border-radius: 3px;
  }

  .linker__title:hover {
    color: var(--hover-textColor);
    background-color: var(--hover-bgColor);
  }
</style>
