---
import IconTag from "/icon/icon_tag_navy.svg";

type Props = {
  image: string;
  title: string;
  text: string;
};

const { image, title, text } = Astro.props;
---

<article class="card">
  <img src={image} alt={title} class="card__thunbnail" />
  <h4 class="card__title black">
    {title}
  </h4>
  <p class="card__text black">
    {text}
  </p>
</article>

<style>
  .card {
    position: relative;
    width: 40vw;
    height: 450px;
    background-color: #fffdf9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .card {
      width: 45vw;
      height: 350px;
    }
  }

  @media screen and (max-width: 481px) {
    .card {
      width: 95vw;
      height: 400px;
      margin-bottom: 20px;
    }
  }

  .card__thunbnail {
    max-width: 100%;
    height: auto;
  }

  .black {
    padding: 0 0 0 5px;
    color: #000;
  }

  .card__tag {
    font-size: 1rem;
  }

  .card__title {
    font-size: 1.35rem;
    margin-bottom: 10px;
  }
</style>
