---
type Props = {
  image: string;
  title: string;
  text: string;
};

const { image, title, text } = Astro.props;
---

<article class="service-card">
  <img src={image} alt={title} class="service-card__thunbnail" />
  <h4 class="service-card__title text-color">
    {title}
  </h4>
  <p class="service-card__text text-color">
    {text}
  </p>
</article>

<script>
  import { intersection } from "../../ts/function";

  intersection(document.querySelectorAll(".service-card"));
</script>

<style>
  .service-card {
    position: relative;
    width: var(--card-size-width-pc);
    height: 550px;
    background-color: var(--card-bgColor);
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .service-card {
      height: 400px;
      transform: translate3d(0, 20px, 0);
    }
  }
  @media screen and (max-width: 481px) {
    .service-card {
      width: 95%;
      height: 500px;
      margin-bottom: 20px;
      transform: translate3d(0, 10px, 0);
    }
  }

  .service-card.active:nth-child(1) {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .service-card.active:nth-child(2) {
    animation: animationName 0.5s ease 1s 1 forwards;
  }
  @media screen and (max-width: 481px) {
    .service-card.active:nth-child(2) {
      animation: animationName 0.5s ease 1s 1 forwards;
    }
  }

  .service-card.active:nth-child(3) {
    animation: animationName 0.5s ease 1.5s 1 forwards;
  }
  @media screen and (max-width: 481px) {
    .service-card {
      width: 95vw;
      height: 500px;
      margin-bottom: 20px;
    }
  }

  .service-card__thunbnail {
    max-width: 100%;
    height: auto;
  }

  .text-color {
    padding: 0 0 0 5px;
    color: var(--accent-color);
  }

  .service-card__tag {
    font-size: 1rem;
  }

  .service-card__title {
    text-align: center;
    font-size: 1.35rem;
    margin-bottom: 10px;
  }

  @keyframes animationName {
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
</style>
