---
type Career = {
  contents: Contents[];
};

type Contents = {
  timeline_date: string;
  timeline_title: string;
  timeline_content: string;
};

const myMicroCMSApiUrl = `https://${
  import.meta.env.MICROCMS_SERVICE_DOMAIN_PORTFOLIO
}.microcms.io/api/v1/career?orders=-publishedAt&limit=999`;

const res = await fetch(myMicroCMSApiUrl, {
  headers: {
    "X-MICROCMS-API-KEY": import.meta.env.MICROCMS_API_KEY_PORTFOLIO,
  },
});
const getFetchData: Career = await res.json();
---

<ul class="abouts__about__timeline">
  {
    getFetchData.contents.map((career: Contents) => (
      <li>
        <p class="abouts__about__timeline__date">{career.timeline_date}</p>
        <div class="abouts__about__timeline__content">
          <h3>{career.timeline_title}</h3>
          <p>{career.timeline_content}</p>
        </div>
      </li>
    ))
  }
</ul>

<script>
  import { intersection } from "../../ts/function";

  intersection(document.querySelectorAll(".abouts__about__timeline__date"));
  intersection(document.querySelectorAll(".abouts__about__timeline__content"));
</script>

<style>
  .abouts__about__timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }

  .abouts__about__timeline__date {
    color: var(--accent-color);
    width: 130px;
    float: left;
    margin-top: 20px;
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  @media screen and (max-width: 1026px) {
    .abouts__about__timeline__date {
      transform: translate3d(0, 0, 0);
    }
  }

  .abouts__about__timeline__date.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .abouts__about__timeline__content {
    color: var(--accent-color);
    width: 75%;
    float: left;
    border-left: 3px var(--border-color) solid;
    padding-left: 30px;
    padding-bottom: 10px;
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .abouts__about__timeline__content {
      transform: translate3d(0, 0, 0);
    }
  }
  @media screen and (max-width: 481px) {
    .abouts__about__timeline__content {
      width: 100%;
      border-left: none;
      transform: translate3d(0, 0, 0);
    }
  }

  .abouts__about__timeline__content.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .abouts__about__timeline__content h3 {
    font-size: 22px;
    font-weight: bold;
  }

  .abouts__about__timeline__content:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--border-color);
    position: absolute;
    left: -7px;
    top: 24px;
    border-radius: 100%;
  }
  @media screen and (max-width: 481px) {
    .abouts__about__timeline__content:before {
      display: none;
    }
  }

  @keyframes animationName {
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
</style>
