<div class="interest">
  <p class="interest__text">INTEREST IS WEB FRONTEND, AND WEB DESIGIN.</p>
</div>
<style>
  .interest__text {
    font-size: 4em;
    color: var(--accent-color);
    -webkit-text-stroke: 1px var(--sub-color);
    text-stroke: 1px var(--sub-color);
    white-space: nowrap;
    animation: text_scroll 20s linear infinite;
  }
  @keyframes text_scroll {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
</style>
