---
import IconTw from "/icon/ico_tw.svg";
import IconInst from "/icon/ico_inst.svg";
import IconGit from "/icon/github_logo.svg";

import Layout from "../layouts/Layout.astro";
import Service from "../components/about/Service.astro";
import Career from "../components/about/Career.astro";
import Speacer from "../components/UIKit/Speacer";

// サイトのURLを取得
const site_url = "https://watataku-portfolio.vercel.app" + Astro.url.pathname;
console.log(site_url);
---

<Layout
  title="ABOUT | Watataku's ポートフォリオサイト"
  description="WatatakuのAboutページです。"
  site_url={site_url}
>
  <Speacer height={"80"} />
  <section class="abouts-page">
    <div class="abouts-page__about">
      <h1 class="abouts-page__about__title--large">
        About&nbsp;me<span class="abouts-page__about__title--large--sub"
          >私について</span
        >
      </h1>
      <div class="image-box">
        <img
          class="abouts-page__about__img"
          src="/img/Hight_icon_watataku's_radius.png"
          alt="Watataku"
        />
        <p class="abouts-page__about__name">Watataku</p>
        <div class="abouts-page__about__text">
          <p>
            1996年大阪府生まれ。Web/ITの専門学校にて、ITとはなんぞや？を学んだ後、新卒でSIerに入社。
            その後、色々な事があり、現在はSNSや技術ブログを通して情報発信しながらマークアップエンジニア/フロントエンドエンジニアとして活動中。
          </p>
        </div>
        <div class="abouts-page__about__text">
          <p>
            I was born in Osaka,Japan in 1996, Learned about "what is IT?" by
            tvocational school.After,Worked "SIer" at new graduate in 2019, But
            I was diagonsed in called intractable disease "SCD" in
            2019.Now,Currently working as a markup developer/frontend developer
            while transmitting information through SNS and blogs.I hope you
            enjoy the site.
          </p>
        </div>
        <div class="abouts-page__about__sns__area">
          <a
            class="link"
            href="https://twitter.com/watataku8911"
            target="_blank"
          >
            <p class="abouts-page__about__sns">
              <img class="sns-icon" src={IconTw} alt="twitter" />
            </p>
          </a>

          <a
            class="link"
            href="https://instagram.com/watataku8911"
            target="_blank"
          >
            <p class="abouts-page__about__sns">
              <img class="sns-icon" src={IconInst} alt="instagram" />
            </p>
          </a>

          <a
            class="link"
            href="https://github.com/watataku8911"
            target="_blank"
          >
            <p class="abouts-page__about__sns">
              <img class="sns-icon" src={IconGit} alt="github" />
            </p>
          </a>
        </div>
      </div>
    </div>

    <div class="abouts-page__about__inner">
      <h2 class="abouts-page__about__title">
        Career<span class="abouts-page__about__title__sub">キャリア</span>
      </h2>
      <Career />
    </div>
    <Speacer height={"80"} />
    <div class="abouts-page__about__inner">
      <h2 class="abouts-page__about__title">
        Can do it<span class="abouts-page__about__title__sub">できること</span>
      </h2>
      <Service />
    </div>
  </section>
  <Speacer height={"80"} />
</Layout>

<script>
  import { closeLoadingScreen, intersection } from "../ts/function";

  const body = document.querySelector("body");

  const jsLoaderBg = ".js-loader-bg";

  window.onload = () => {
    setTimeout(() => {
      closeLoadingScreen(jsLoaderBg);
      if (body != null) {
        body.classList.add("loaded");
      }
    }, 2500);
  };

  intersection(document.querySelectorAll(".abouts-page__about__title"));
</script>

<style>
  .abouts-page__about {
    width: var(--base-width);
    margin: 0 auto;
  }

  .abouts-page__about__title--large {
    color: var(--accent-color);
    font-size: 4.5em;
    padding: 2% 0 30px 0;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .abouts-page__about__title--large {
      font-size: 3.5em;
      padding: 5% 0 20px 0;
    }
  }
  @media screen and (max-width: 481px) {
    .abouts-page__about__title--large {
      font-size: 2em;
      padding: 2% 0 20px 0;
    }
  }

  .abouts-page__about__title--large--sub {
    font-size: 0.25em;
    color: var(--subtextColor);
  }

  .abouts-page__about__title--large--sub::before {
    content: "";
    display: inline-block;
    width: 20px;
    border-bottom: solid 1px var(--subtextColor);
    margin: 0 5px 0 5px;
  }

  .image-box {
    text-align: center;
  }

  .abouts-page__about .abouts-page__about__img {
    max-width: 15%;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .abouts-page__about .abouts-page__about__img {
      max-width: 25%;
    }
  }
  @media screen and (max-width: 481px) {
    .abouts-page__about .abouts-page__about__img {
      max-width: 50%;
    }
  }

  .abouts-page__about__name {
    color: var(--accent-color);
    font-size: 24px;
    margin: 10px 0 10px 0;
  }

  .abouts-page__about__text {
    color: var(--accent-color);
    font-size: 14px;
    width: 50%;
    text-align: left;
    margin: 10px auto;
  }
  @media screen and (max-width: 1026px) {
    .abouts-page__about__text {
      width: 95%;
    }
  }

  .abouts-page__about__sns__area {
    width: 50%;
    margin: 0 auto;
    padding: 40px 0 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (max-width: 481px) {
    .abouts-page__about__sns__area {
      width: 90%;
    }
  }

  .link {
    display: block;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  }

  .link:hover {
    transform: translateY(5px);
    box-shadow: none;
  }

  .abouts-page__about__sns {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }
  @media screen and (max-width: 1026px) {
    .abouts-page__about__sns {
      width: 80px;
      height: 80px;
    }
  }

  .sns-icon {
    width: 50px;
    height: 50px;
  }
  @media screen and (max-width: 1026px) {
    .sns-icon {
      width: 40px;
      height: 40px;
    }
  }

  .abouts-page__about__inner {
    width: var(--base-width);
    margin: 0 auto;
  }
  @media screen and (max-width: 481px) {
    .abouts-page__about__inner {
      margin: 0 auto 10px;
    }
  }

  .abouts-page__about__title {
    color: var(--accent-color);
    font-size: 25px;
    margin-bottom: 25px;
    opacity: 0;
    transform: translateX(-30px);
  }
  @media screen and (max-width: 1026px) {
    .abouts-page__about__title {
      transform: translateY(30px);
    }
  }

  .abouts-page__about__title.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .abouts-page__about__title__sub {
    font-size: 0.5em;
    color: var(--subtextColor);
  }

  .abouts-page__about__title__sub::before {
    display: inline-block;
    content: "";
    width: 20px;
    margin: 0 4px 0 4px;
    border-bottom: 1px solid var(--subtextColor);
  }

  @keyframes animationName {
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
</style>
