---
import Layout from "../layouts/Layout.astro";
import Blog from "../components/Blog.astro";
import Contact from "../components/Contact.astro";
import Work from "../components/Work.astro";
import Plofile from "../components/Plofile.astro";
import FirstView from "../components/FirstView.astro";
---

<Layout
  title="Watataku's ポートフォリオ"
  description="Watatakuのポートフォリオサイトです。"
>
  <FirstView />
  <main class="main-contents">
    <Plofile />
    <Work />
    <Blog />
    <Contact />
  </main>
</Layout>

<style></style>
