---
import Layout from "../layouts/Layout.astro";
import Blog from "../components/blog.astro";
---

<Layout title="Watataku's ポートフォリオ">
  <main class="main-contents">
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <Blog />
  </main>
</Layout>

<style></style>
