---
import TwitterIcon from "/icon/ico_tw.svg";
---

<section class="contacts" id="contact">
  <div class="contacts__contact">
    <h2 class="contacts__contact__title">Contact.</h2>
    <div class="contacts__contact__inner">
      <div class="contacts__contact__inner__message">
        <p>
          Twitterがありますので、ご連絡の際はTwitterのDMまでお願いします。
          またフォローの方もお待ちしております。
        </p>
      </div>
      <p class="contacts__contact__inner__twitter">
        <a href="https://twitter.com/watataku8911"
          ><img src={TwitterIcon} alt="twitter" />
        </a>
      </p>
    </div>
  </div>

  <script>
    intersection(document.querySelectorAll(".contacts__contact__title"));
    intersection(
      document.querySelectorAll(".contacts__contact__inner__message")
    );
    intersection(
      document.querySelectorAll(".contacts__contact__inner__twitter")
    );
  </script>

  <style>
    .contacts {
      height: 100vh;
      padding: 0 0 10% 0;
    }

    .contacts__contact {
      width: 95%;
      margin: 0 auto;
    }
    @media screen and (max-width: 1026px) {
      .contacts__contact {
        width: 100%;
      }
    }

    .contacts__contact__title {
      font-family: "Lobster";
      font-size: 4.5em;
      padding: 2% 0 5% 0;
      opacity: 0;
      transform: translateX(-30px);
    }
    @media screen and (min-width: 482px) and (max-width: 1025px) {
      .contacts__contact__title {
        font-size: 3.5em;
        transform: translateY(30px);
      }
    }
    @media screen and (max-width: 481px) {
      .contacts__contact__title {
        font-size: 2.5em;
        transform: translateY(30px);
      }
    }

    .contacts__contact__title.active {
      animation: animationName 0.5s ease 0.5s 1 forwards;
    }

    .contacts__contact__inner {
      display: flex;
      flex-direction: column;
      align-content: space-between;
    }

    .contacts__contact__inner__message {
      padding-left: 30px;
      opacity: 0;
      transform: translateY(30px);
    }

    .contacts__contact__inner__message.active {
      animation: animationName 0.5s ease 0.5s 1 forwards;
    }

    .contacts__contact__inner__message p {
      word-wrap: break-word;
    }

    .contacts__contact__inner__twitter {
      margin-left: auto;
      margin-top: auto;
      opacity: 0;
      transform: translateY(30px);
    }

    .contacts__contact__inner__twitter.active {
      animation: animationName 0.5s ease 0.5s 1 forwards;
    }

    .contacts__contact__inner__twitter a {
      display: block;
    }

    .contacts__contact__inner__twitter img {
      max-width: 90%;
      width: 200px;
      height: 200px;
    }
    @media screen and (max-width: 1026px) {
      .contacts__contact__inner__twitter img {
        max-width: 90%;
        width: 100px;
        height: 100px;
      }
    }

    .contacts__contact__inner__twitter a:hover {
      opacity: 0.5;
    }
  </style>
</section>
