---
import IconDown from "/icon/icon_down.svg";
---

<div class="c-loader-bg js-loader-bg">
  <div class="c-loader-dot js-loader-dot-wrap">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<section class="first-view">
  <header class="first-view__header">
    <p class="first-view__header__logo"><a href="#">Watataku's</a></p>
  </header>

  <div class="first-view__circle"></div>

  <div class="first-view__title center-top">
    <h1 class="first-view__title__text">Welcome&nbsp;to</h1>
    <h1 class="first-view__title__text margin-left">my&nbsp;portfolio.</h1>
  </div>

  <p class="first-view__text bottom">
    Markup&nbsp;Enginner/Frontend&nbsp;Enginner.
  </p>

  <div class="pic_down">
    <img src={IconDown} alt="↓" />
  </div>
</section>

<script>
  import gsap from "gsap";

  surroundSpan(".first-view__title__text");
  surroundSpan(".first-view__text");

  const jsLoaderBg = ".js-loader-bg";
  const jsDot = ".js-loader-dot-wrap > span";
  const firstViewCircle = ".first-view__circle";
  const firstViewTitle = ".first-view__title__text span";
  const firstViewtext = ".first-view__text span";
  const picDown = ".pic_down";

  gsap.set([jsDot, firstViewTitle, firstViewtext], {
    opacity: 0,
    y: -50,
  });
  gsap.set([firstViewCircle, picDown], {
    opacity: 0,
    y: 30,
  });

  gsap.timeline().to(
    /* 0.8秒後に起動 */
    jsDot,
    {
      opacity: 1,
      y: 0,
      duration: 0.8,
      delay: 0.8,
      stagger: {
        amount: 0.5, //0.5秒おきに
        from: "start", // 左から
        ease: "power4.inOut",
      },
    }
  );
  window.addEventListener("load", (event) => {
    gsap
      .timeline()
      .to(jsDot, {
        opacity: 0,
      })
      .to(jsLoaderBg, {
        y: "100%",
        delay: 0.5,
      })
      .to(
        firstViewCircle,
        {
          opacity: 1,
          y: 0,
          duration: 0.8,
          stagger: {
            amount: 0.6,
          },
        },
        "+=0.2"
      )
      .to(
        firstViewTitle,
        {
          /* 前のアニメーションが完了する0.1秒前に実行 */
          opacity: 1,
          y: 0,
          stagger: {
            amount: 1,
            from: "start",
            ease: "sine.in",
          },
        },
        "-=0.1"
      )
      .to(
        firstViewtext,
        {
          /* 前のアニメーションが完了する0.1秒前に実行 */
          opacity: 1,
          y: 0,
          stagger: {
            amount: 1,
            from: "start",
            ease: "sine.in",
          },
        },
        "-=0.1"
      )
      .to(
        picDown,
        {
          opacity: 2,
          y: 0,
          duration: 0.8,
        },
        "+=0.2"
      );
  });
</script>

<style>
  .c-loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 100;
    display: grid;
    place-items: center;
    pointer-events: none;
  }

  .c-loader-dot {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    pointer-events: none;
  }

  .c-loader-dot > span {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
  }

  .c-loader-dot > span + span {
    margin-left: 3rem;
  }

  /* メイン */
  .first-view {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .first-view__header__logo {
    font-size: 35px;
  }

  .first-view__header__logo a {
    color: #333;
  }

  /* text */
  .first-view__text {
    font-family: "Lobster";
    position: absolute;
    font-size: 4.5em;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .first-view__text {
      font-size: 2em;
    }
  }
  @media screen and (max-width: 481px) {
    .first-view__text {
      font-size: 1em;
    }
  }

  .first-view__title {
    font-family: "Lobster";
    width: 100%;
    text-align: left;
    font-size: 80px;
    position: absolute;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .first-view__title {
      font-size: calc(5vh + 12px);
    }
  }
  @media screen and (max-width: 481px) {
    .first-view__title {
      font-size: 2em;
    }
  }

  .first-view__title__text.margin-left {
    margin-left: 15vw;
  }

  .center-top {
    top: 27%;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .center-top {
      top: 35vh;
    }
  }
  @media screen and (max-width: 481px) {
    .center-top {
      top: 38%;
    }
  }

  .bottom {
    left: 1%;
    bottom: 2%;
  }

  /* 円 */
  .first-view__circle {
    position: absolute;
    bottom: -50%;
    left: -10%;
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    background-color: #addff2;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .first-view__circle {
      bottom: -20vw;
      left: -40vw;
      width: 100vh;
      height: 100vh;
    }
  }
  @media screen and (max-width: 481px) {
    .first-view__circle {
      bottom: -60vw;
      left: -85vw;
      width: 100vh;
      height: 100vh;
    }
  }

  /* 下矢印 */
  .pic_down {
    position: absolute;
    right: 2vw;
    bottom: 2%;
    animation-name: picdown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    will-change: transform;
  }
  @keyframes picdown {
    /*タイプライターライクなアニメーション*/
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px);
    }
  }
</style>
