---
---

<section class="profiles">
  <div class="profiles__inner">
    <h2 class="profiles__title">About&nbsp;me.</h2>
    <div class="profiles__profile">
      <div class="profiles__profile__left">
        <img src="/img/Hight_icon_watataku's_radius.png" alt="Watataku" />
      </div>
      <div class="profiles__profile__right">
        <p class="profiles__profile__right__message">
          初めまして。ご覧いただきありがとうございます。フロントエンドエンジニアとして活動しているWatatakuです。
        </p>
        <p class="profiles__profile__right__message">
          <i style="font-weight: 400">「デザイン崩れ」</i
          >のおきないサイト制作を目指し、<i style="font-weight: 400"
            >「UI/UXを意識」</i
          >したサイト制作を心がけています。
        </p>
        <p class="profiles__profile__right__message">
          インタラクティブなサイトが好きなので、少しユーモアのあるインタラクションを取り入れたサイト制作を目指しています。
        </p>
        <p class="profiles__profile__right__message">
          <a href="/about">詳しく</a>
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  intersection(document.querySelectorAll(".profiles__title"));
  intersection(document.querySelectorAll(".profiles__profile__left"));
  intersection(document.querySelectorAll(".profiles__profile__right__message"));
</script>

<style>
  .profiles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #addff2;
    padding: 0 0 60px 0;
  }

  .profiles__title {
    opacity: 0;
    transform: translateX(-30px);
    font-family: "Lobster";
    font-size: 4.5em;
    padding: 0 0 80px 0;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .profiles__title {
      font-size: 3.5em;
      transform: translateY(30px);
    }
  }
  @media screen and (max-width: 481px) {
    .profiles__title {
      font-size: 2.5em;
      transform: translateY(30px);
    }
  }

  .profiles__title.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .profiles__inner {
    width: 90%;
  }

  .profiles__profile__left {
    width: 50%;
    float: left;
    opacity: 0;
    transform: translateX(-40px);
    transition: all 2s ease;
  }

  @media screen and (max-width: 1026px) {
    .profiles__profile__left {
      text-align: center;
      width: 100%;
      float: none;
      margin-bottom: 20px;
      transform: translateY(30px);
    }
  }

  .profiles__profile__left.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .profiles__profile__left img {
    height: 300px;
    width: 300px;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .profiles__profile__left img {
      height: 20vw;
      width: 20vw;
    }
  }
  @media screen and (max-width: 481px) {
    .profiles__profile__left img {
      height: 100px;
      width: 100px;
    }
  }

  .profiles__profile__right {
    width: 50%;
    float: right;
  }
  @media screen and (max-width: 1026px) {
    .profiles__profile__right {
      width: 100%;
      float: none;
    }
  }

  .profiles__profile__right__message {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-70px);
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .profiles__profile__right__message {
      font-size: 15px;
      transform: translateY(30px);
    }
  }
  @media screen and (max-width: 481px) {
    .profiles__profile__right__message {
      font-size: 18px;
      transform: translateY(30px);
    }
  }

  .profiles__profile__right__message.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  @keyframes animationName {
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
</style>
