---
import Qiita from "./blog/qiita.astro";
import Zenn from "./blog/zenn.astro";
import WatatakuBlog from "./blog/watataku-blog.astro";
---

<section class="blogs" id="blog">
  <div class="blogs__blog">
    <h2 class="blogs__blog__title">Blog.</h2>
    <div class="blogs__blog__inner">
      <h3>- Qiita</h3>
      <div class="module--spacing--small"></div>
      <Qiita />
      <h3>- Zenn</h3>
      <div class="module--spacing--small"></div>
      <Zenn />
      <h3>- Watataku ブログ</h3>
      <div class="module--spacing--small"></div>
      <WatatakuBlog />
    </div>
  </div>
</section>

<style>
  .blogs {
    background-color: #addff2;
  }

  .blogs__blog {
    width: 1250px;
    margin: 0 auto;
  }

  .blogs__blog__title {
    font-family: "Lobster";
    font-size: 4.5em;
    padding: 0 0 60px 0;
  }
</style>
