---
import Spacer from "./UIKit/Speacer/Speacer";
---

<section class="contacts" id="contact">
  <div class="contacts__contact">
    <h2 class="contacts__contact__title">
      Contact&nbsp;me<span class="contacts__contact__title__sub">連絡する</span>
    </h2>
    <div class="contacts__contact__inner">
      <p class="contacts__contact__inner__message">
        <a
          href="https://twitter.com/watataku8911"
          target="_blank"
          rel="nofollow noopener noreferrer">Twitter</a
        >がありますので、ご連絡の際はTwitterのDMまでお願いします。
        またフォローの方もお待ちしております。
      </p>
    </div>
    <Spacer height={"60"} />
  </div>
</section>

<script>
  import { intersection } from "../ts/function";

  intersection(document.querySelectorAll(".contacts__contact__title"));
  intersection(document.querySelectorAll(".contacts__contact__inner__message"));
</script>

<style>
  .contacts {
    background-color: var(--main-color);
  }

  .contacts__contact {
    width: var(--base-width);
    margin: 0 auto;
  }

  .contacts__contact__title {
    color: var(--accent-color);
    font-size: 4.5em;
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .contacts__contact__title {
      font-size: 2.5em;
      transform: translate3d(0, 10px, 0);
    }
  }
  @media screen and (max-width: 481px) {
    .contacts__contact__title {
      font-size: 2.5em;
      transform: translate3d(0, 10px, 0);
    }
  }

  .contacts__contact__title__sub {
    color: var(--subtextColor);
    font-size: 0.25em;
  }

  .contacts__contact__title__sub::before {
    content: "";
    display: inline-block;
    width: 20px;
    border-bottom: solid 1px var(--subtextColor);
    margin: 0 5px 0 5px;
  }

  .contacts__contact__title.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .contacts__contact__inner {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contacts__contact__inner__message {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    color: var(--accent-color);
    word-wrap: break-word;
  }

  .contacts__contact__inner__message a {
    border-bottom: 1px var(--accent-color) dashed;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.1em;
    color: var(--accent-color);
  }

  .contacts__contact__inner__message a:hover {
    color: var(--hover-teColor);
    border-bottom: 1px var(--hover-teColor) dashed;
  }

  .contacts__contact__inner__message.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }
</style>
