<section class="contact">
  <h2 class="contact__title">CONTACT</h2>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
  .contact {
    height: 600px;
  }
  .contact__title {
    font-family: "Oswald", sans-serif;
    font-size: 2.5em;
    letter-spacing: 10px;
    margin-left: 10px;
    text-align: center;
  }
</style>
