<section class="first-view">
  <p><a href="">Watataku's</a></p>
  <h1 class="first-view__title">WATATAKU PORTFORIO</h1>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

  .first-view {
    width: 100%;
    height: 95vh;
  }

  .first-view__title {
    letter-spacing: 10px;
    font-size: 100px;
    font-family: "Oswald", sans-serif;
  }
</style>
