---
import IconTw from "/icon/icon_twitter_black.svg"
import IconInst from "/icon/ico_inst_foot.svg"
import IconGit from "/icon/github_logo.svg"
---

<footer class="footer">
  <div class="footer__inner grid">
    <div class="footer__logo"><a class="black" href="/">T.W</a></div>
    <ul class="footer__link grid">
      <li><a href="/" class="black">Home</a></li>
      <li><a href="/about" class="black">About&nbsp;me</a></li>
      <li><a href="/work" class="black">Works</a></li>
      <li><a href="/blog" class="black">Tech&nbsp;blogs</a></li>
    </ul>
  </div>
  <div class="footer__copy">
    <small class="grid">&copy;2022 Watataku.</small>
    <div class="footer__copy__icons grid">
      <img src={IconTw} alt="twitter" width="20" height="20" />
      <img src={IconInst} alt="Instagram" width="20" height="20" />
      <img src={IconGit} alt="github" width="20" height="20" />
    </div>
  </div>
</footer>

<style>
  .grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer {
    background-color: #addff2;
    border-top: solid 1px #333;
    margin: 0 auto;
  }
  @media screen and (max-width: 1026px) {
    .footer {
      width: 100%;
    }
  }

  .footer__inner {
    height: 100px;
  }

  .footer__logo {
    font-family: 'Great Vibes', cursive;
    font-size: 43px;
  }

  .footer__link {
    column-gap: 40px;
  }
  @media screen and (max-width: 481px) {
    .footer__link {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  .black {
    position: relative;
    color: black;
    display: inline-block;
  }

  .footer__link .black:after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: translate(-15%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
    opacity: 0;
  }

  .footer__link .black:hover::after {
    transform: translate(0, 0);
    opacity: 1;
  }

  .footer__copy small {
    font-size: 18px;
  }

  .footer__copy__icons {
    padding: 15px 0 15px 0;
    width: 100px;
    margin: 0 auto;
  }
</style>
