---
---

<section class="profile">
  <div class="profile__inner">
    <h2 class="profile__title">About&nbsp;me.</h2>
    <div class="profile__left">
      <img src="/img/Hight_icon_watataku's_radius.png" alt="Watataku" />
    </div>
    <div class="profile__right">
      <p class="profile__right__message">
        初めまして。ご覧いただきありがとうございます。フロントエンドエンジニアとして活動しているWatatakuです。
      </p>
      <p class="profile__right__message">
        <i style="font-weight: 400">「デザイン崩れ」</i
        >のおきないサイト制作を目指し、<i style="font-weight: 400"
          >「UI/UXを意識」</i
        >したサイト制作を心がけています。
      </p>
      <p class="profile__right__message">
        インタラクティブなサイトが好きなので、少しユーモアのあるインタラクションを取り入れたサイト制作を目指しています。
      </p>
    </div>
  </div>
</section>

<style>
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #addff2;
    padding: 0 0 10% 0;
  }

  .profile__title {
    font-family: "Lobster";
    font-size: 4.5em;
    padding: 2% 0 60px 0;
  }

  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .profile__title {
      font-size: 3.5em;
    }
  }

  @media screen and (max-width: 481px) {
    .profile__title {
      font-size: 2.5em;
    }
  }

  .profile__inner {
    width: 1250px;
    margin: 0 auto;
  }

  .profile__left {
    width: 50%;
    float: left;
  }

  @media screen and (max-width: 481px) {
    .profile__left {
      text-align: center;
      width: 100%;
      float: none;
    }
  }

  .profile__left img {
    height: 300px;
    width: 300px;
  }

  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .profile__left img {
      height: 200px;
      width: 200px;
    }
  }

  @media screen and (max-width: 481px) {
    .profile__left img {
      height: 100px;
      width: 100px;
    }
  }

  .profile__right {
    width: 50%;
    float: right;
  }

  @media screen and (max-width: 481px) {
    .profile__right {
      width: 100%;
      float: none;
    }
  }

  .profile__right__message {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .profile__right__message {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 481px) {
    .profile__right__message {
      font-size: 18px;
    }
  }
</style>
