<section class="work">
  <h2 class="work__title">WORK</h2>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
  .work__title {
    font-family: "Oswald", sans-serif;
    font-size: 2.5em;
    letter-spacing: 10px;
    text-align: center;
  }
</style>
