.grid {
  display: flex;
  align-items: center;
}

.footer {
  background-color: var(--main-color);
  border-top: solid 1px var(--accent-color);
  margin: 0 auto;
}
@media screen and (max-width: 1026px) {
  .footer {
    width: 100%;
  }
}

.footer__inner {
  justify-content: space-between;
  width: 80%;
  height: 100px;
  margin: 0 auto;
}
@media screen and (max-width: 481px) {
  .footer__inner {
    height: 200px;
  }
}

.footer__logo {
  font-family: "Great Vibes", cursive;
  font-size: clamp(2.25rem, 1.977rem + 1.36vw, 3rem);
}

.footer__link {
  gap: clamp(8px, 3vw, 24px);
  font-size: clamp(0.813rem, 0.744rem + 0.34vw, 1rem);
}
@media screen and (max-width: 481px) {
  .footer__link {
    flex-direction: column;
  }
}

.text-color {
  position: relative;
  color: var(--accent-color);
  display: inline-block;
}

.footer__link .text-color:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  transform: translate(-15%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
  opacity: 0;
}
@media (hover: hover) {
  .footer__link .text-color:any-link:hover::after {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.goTop {
  color: var(--accent-color);
  text-align: right;
}

.footer__copy {
  justify-content: center;
}

.footer__copy small {
  font-size: 1.2rem;
  color: var(--accent-color);
  letter-spacing: 1px;
}

.footer__copy {
  height: 100px;
}
