---
import Card from "../UIKit/Card.astro";
import Linker from "../UIKit/Linker.astro";

type Qiita = {
  url: string;
  title: string;
  created_at: string;
};
const myQiitaApiUrl =
  "https://qiita.com/api/v2/items?page=1&per_page=4&query=user:watataku8911";

const res = await fetch(myQiitaApiUrl);
const getFetchData: Qiita[] = await res.json();
---

<div class="qiita">
  {
    getFetchData.map((qiita: Qiita) => (
      <Card
        image="/img/qiita-ogp.png"
        href={qiita.url}
        title={qiita.title}
        time={qiita.created_at}
      />
    ))
  }
</div>

<style>
  .qiita {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 2vw;
  }

  .qiita::before {
    content: "";
    width: 20vw;
    order: 1;
  }

  .qiita::after {
    content: "";
    width: 20vw;
  }

  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .qiita {
      height: 220px;
    }
  }

  @media screen and (max-width: 481px) {
    .qiita {
      height: 450px;
    }

    .qiita::before {
      width: 45vw;
    }

    .qiita::after {
      width: 45vw;
    }
  }
</style>
