---
import { log } from "astro/dist/core/logger/core";
import Card from "../UIKit/Card.astro";
import Linker from "../UIKit/Linker.astro";

type Zenn = {
  items: Items[];
};

type Items = {
  link: string;
  title: string;
  pubDate: string;
};

const endpoint = "https://api.rss2json.com/v1/api.json";
const feed = "https://zenn.dev/watataku/feed";

const myZennApiUrl =
  endpoint +
  "?rss_url=" +
  feed +
  "&api_key=" +
  import.meta.env.RSS_TO_JSON_API_KEY +
  "&count=4";

// console.log(myZennApiUrl);

const res = await fetch(myZennApiUrl);
const getFetchData: Zenn = await res.json();

// console.log(getFetchData.items);
---

<div class="zenn">
  {
    getFetchData.items.map((zenn: Items) => (
      <Card
        image="/img/zenn.png"
        href={zenn.link}
        title={zenn.title}
        time={zenn.pubDate}
      />
    ))
  }
</div>
<style>
  .zenn {
    height: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .zenn::before {
    content: "";
    width: 20vw;
    order: 1;
  }

  .zenn::after {
    content: "";
    width: 20vw;
  }

  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .zenn {
      height: 220px;
    }
  }

  @media screen and (max-width: 481px) {
    .zenn {
      height: 450px;
    }

    .zenn::before {
      width: 45vw;
    }

    .zenn::after {
      width: 45vw;
    }
  }
</style>
